body {
	text-align: center;
	font-family: arial;
	padding:0;
	margin:0;
	background:url("../images/wood-bg.jpg");	
}
ul, ul li{
	padding:0;
	margin:0;
	list-style: none;	
}

.container .fa {
	font-size: 95vw;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

    margin-top: 50%;
}
.hide{
  display:none !important;  
}
.show{
  display:inline-block !important;
}
#audio-control {
	position: absolute;
    top: -1000px;
}
.setting-container p{
	font-style:italic;
	margin-bottom: 5px;
}
.setting-container {
	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    top: 20px;
    left: 20px;
    right: 20px;
    color:white;
    font-size:15px;
    overflow-y: scroll;
    display:none;
}
.setting-btn {
  position:absolute;
  right:20px;
  text-decoration: none;
  color:white;
}
.setting-btn img {
  width:70px;
}
#close-setting-container{
  float:right;
}
#toggle-app {
	display: inline-block;
    background:url("../images/stop.png") center center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color:white;
    line-height: 58px;
}
#toggle-app.play {
	background:url("../images/play.png") center center;
}
#toggle-app i {
	font-size:18px;
}
#toggle-app.play .fa-stop{
	display:none;
}
#toggle-app.play .fa-play{
	display:inline-block;
}
#toggle-app .fa-play{
	display:none;	
}
#toggle-app .fa-stop{
	display:inline-block;
}
.action-container {
	position: absolute;
    width: 100%;
    bottom: 20px;
}
.title {
	font-size: 20vw;	
	text-transform: uppercase;
}

.red {
	color: red;
}

.yellow {
	color: yellow;
}

.orange {
	color: orange;
}

.white {
	color:white;
}

.blue. {
	color:blue;
}
.green {
	color:green;
}
.black {
	color:black;
}
.purple {
	color:purple;
}